.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  margin-bottom: 30px;
  border-radius: 20px;
  backdrop-filter: blur(8px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.nav-links a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a.active {
  border-bottom: 2px solid white;
}
